[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ikuo Kumagai (i-kumagai)
[access "refs/for/refs/*"]
	read = group user/Ikuo Kumagai (i-kumagai)
	push = group user/Ikuo Kumagai (i-kumagai)
	label-Code-Review = -2..+2 group user/Ikuo Kumagai (i-kumagai)
	label-Verified = -1..+1 group user/Ikuo Kumagai (i-kumagai)
	rebase = group user/Ikuo Kumagai (i-kumagai)
	removeReviewer = group user/Ikuo Kumagai (i-kumagai)
	submit = group user/Ikuo Kumagai (i-kumagai)
[access "refs/heads/*"]
	read = group user/Ikuo Kumagai (i-kumagai)
	create = group user/Ikuo Kumagai (i-kumagai)
	push = +force group user/Ikuo Kumagai (i-kumagai)
	pushMerge = group user/Ikuo Kumagai (i-kumagai)
[access "refs/tags/*"]
	push = +force group user/Ikuo Kumagai (i-kumagai)
	pushTag = group user/Ikuo Kumagai (i-kumagai)
	pushSignedTag = group user/Ikuo Kumagai (i-kumagai)
